




:root{--green--primary:#A7D7C5;
--green--primary-1:#F4F9F4;
--font-primary:'Lora', serif;}

$medium-bp:32.4375em;
$medium_2-bp:26em; //416
$small-bp:14.8125em;









*{ 
padding:0;
margin:0;
}

html{
box-sizing: border-box;
font-size: 62.5%;

@media only  screen and (max-width:$medium_2-bp){
    font-size: 50.5%;

}

@media only  screen and (max-width:$small-bp){
    font-size: 40.5%;
    

}

}



body{


background-repeat: no-repeat;
background-size: cover;
font-family:var(--font-primary) ;

min-height:100vh;
line-height: 1.6;
background-color: var(--green--primary);
}

.content{
    background-color: var(--green--primary-1);
    margin: 5rem auto;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    
    @media only  screen and (max-width:$medium-bp){
        margin: 0 0;
         width: 100vw;

 
    } 
    @media only  screen and (max-width:$medium_2-bp){
        padding: 2rem;
        width: 100vw;

    }
    //min-height: 50vh;

    &__form{
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    &__logo{
        font-size: 2.3rem;
    }
    &__sub{
        font-size: 1.4rem;
        font-weight: lighter;
    }

    &__input{
        padding: 1.3rem;
        margin: 1.5rem 0;
        border: none;
    }

    &__btn{
        background-color: var(--green--primary);
        border: none;
        color: white;
        padding: 1.5rem;
        margin: 0 4rem;
        font-size: 2rem;
       // align-self: flex-end;
    }

    &__login{
        margin-top: 1rem;
        color: var(--green--primary);
        font-weight: bolder;
        font-size: 1.3rem;
    }
}
